---
layout: default
meta: blog
---

<h2>Blog</h2>
<div id="writing_progress">
	<p>One of the main purpose of this blog is to improve my writing skills. This data will help me keep track of how far I've come and to identify areas of improvement going forward.</p>

	<div id="writing_skills_chart">
		<!-- <svg></svg> -->
	</div>

</div>

{% for post in site.posts %}
	{% assign postdate = post.date | date: "%Y" %}
	{% assign currentdate = 'now' | date: "%Y-%m-%d" %}
		{% if postdate != date %}
			{% unless forloop.first %}
				</ul>
			{% endunless %}
			<h3 class="year-headline">{{ postdate }}</h3>
			<ul class="archive-posts">
			{% assign date = postdate %}
		{% endif %}

		  <li>
		    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
		    <span class="spacer"> &#8226; </span>
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		  </li>
		{% if forloop.last %}
			</ul>
		{% endif %}
{% endfor %}