---
layout: default
---

<h2>Blog</h2>
{% for post in site.posts %}
	{% assign currentdate = post.date | date: "%Y" %}
	{% if currentdate != date %}
		{% unless forloop.first %}
			</ul>
		{% endunless %}
		<h3 class="year-headline">{{ currentdate }}</h3>
		<ul class="archive-posts">
		{% assign date = currentdate %}
	{% endif %}

	  <li>
	    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
	    <span class="spacer"> &#8226; </span>
		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  </li>
	{% if forloop.last %}
		</ul>
	{% endif %}
{% endfor %}