---
layout: default
---

<div class="posts">

	<h2> Recent Posts </h2>
	{% for post in paginator.posts %}
		<article class="each-post">
		  <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
		  <span class="post-date">
		  	<small>{{ post.date | date: "%b %-d, %Y" }}</small>
		  </span>
		  <div class="entry">
		    {{ post.introduction }}
		  </div>

		  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &rsaquo;</a>
		</article>
		<br/>
		
	{% endfor %}
</div>



<!-- Pagination links -->
<div class="pagination page-navigation">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pager previous prev-navigator navigator">&laquo; Newer</a>
	{% else %}	
		<span class="pager previous disabled navigator prev-navigator">&nbsp;</span>
	{% endif %}
	<span class="page_number"><small>/ {{ paginator.page }} of {{ paginator.total_pages }} /</small></span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/'}}" class="pager next next-navigator navigator">Older &raquo;</a>
	{% else %}
		<span class="pager next disabled navigator next-navigator">&nbsp;</span>
	{% endif %}
</div>