---
layout: default
---

<div class="posts">

	<h2> Recent Posts </h2>
	{% for post in paginator.posts %}
		<article class="each-post">
		  <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
		  <span class="post-date">
		  	<small>{{ post.date | date: "%b %-d, %Y" }}</small>
		  </span>
		  <div class="entry">
		    {{ post.introduction }}
		  </div>

		  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &rsaquo;</a>
		</article>
		<br/>
		
	{% endfor %}
</div>



<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page }}" class="pager previous">&rsaquo; prev</a>
	{% else %}	
		<!-- <span class="pager previous disabled">prev</span> -->
	{% endif %}
	<!-- <span class="page_number"> | {{ paginator.page }} of {{ paginator.total_pages }} |</span> -->
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page }}" class="pager next">prev</a>
	{% else %}
		<!-- <span class="pager next disabled">next &rsaquo;</span> -->
	{% endif %}
</div>