---
title: Writing &amp; Speaking
layout: default
meta: writing+speaking
tags: [speaking, presentations]
---
<h2>Writing &amp; Speaking</h2>

<section class="writing-speaking">
	{% for activity in site.data.writingspeaking %}
		{% assign currentdate = activity.date | date: "%Y" %}
		{% if currentdate != date %}
			{% unless forloop.first %}
				</ul>
			{% endunless %}
			<h3 class="year-headline">{{ currentdate }}</h3>
			<ul class="writing-speaking-posts">
			{% assign date = currentdate %}
		{% endif %}
			<li>
				<p class="info-line">
					<span class="post-date">{{ activity.date | date: "%b %-d, %Y" }}</span>
					<span class="spacer"> &#8226; </span> 
					
					<span class="writing-speaking-msg">{{ activity.title }}
					{% if activity.type == "speaking" %}
						(Talk)
					{% endif %}
					{% if activity.type == "writing"%}
						(Article)
					{% endif %}

					at {{ activity.location }}.
					</span>
					
					{% if activity.link %}
						<a href="{{ activity.link }}" target="_blank" class="">View Content</a>
					{% endif %}
					{% if activity.image %}
						<img src="{{ activity.image }}" alt="{{ activity.title }}" />
					{% endif %}

				</p>	
				
			</li>
		{% if forloop.last %}
			</ul>
		{% endif %}
	{% endfor %}
</section>