<aside id="sidebar">
  <p class="copyright-border"></p>
  <p>
    <a href="/index">Home</a>
  </p>
  <!-- <p>
    <a href="#">Projects</a>
  </p> -->
  <p>
    <a href="/about">About Me</a>
  </p>
  <p>
    <a class="anchor" href="/writing+speaking" aria-hidden="true">Writing+Speaking</a>
  </p>
  <p>
    <a class="anchor" href="/projects" aria-hidden="true">Projects</a>
  </p>
  <p>
    <a href="/blog">Blog</a>
  </p>
  
  <p>
    <a class="anchor" href="/contacts" aria-hidden="true">Contacts</a>
  </p>
  
  <p class="copyright-border" id="footer-year">
    Solomon Perkins</br>
       Nov 2016 - 2017
  </p>
</aside>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/main.js"></script>
{% if page.meta == "aboutme" %}
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/skills.js"></script>
{% endif %}

{% if page.meta == "projects" %}
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/vertical-timeline.js"></script>
{% endif %}

