#writing_skills_chart{ 
  position: relative;
}
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}


/*Tooltip */
.tooltip {
  background-color: whitesmoke;
  border: solid;
  border: 1px solid #2268b2;
  padding: 5px;
  min-width: 90px;
  max-width: 30%;
  height: 64px;
  display: block;
  position: absolute;
}

#thumbnail span {
  display: block;
  width: 100%;

}

#thumbnail small {
  width: 80%;
  display: inline-block;
  border-right: 1px solid #b1c7dd;
  margin-right: 2px;
  border-bottom: 1px dotted #f4f4f4;
}

#thumbnail .ttitle {
  border-bottom: 1px solid #b1c7dd;
  white-space: nowrap; 
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {
  #thumbnail small {
    width: 60%;
  }
}