---
layout: default
---

<article class="post">
	<h2>{{ page.title }}</h2>
	<p class="date-wrapper">
		<small class="date">
			&#8855; {{ page.date | date: "%b %-d, %Y" }} | read time: {{ page.read_time }}
		</small>
	</p>

	<div class="entry">
		{{ content }}
	</div>
	
	<div class="page-navigation">
		{% if page.previous.url %}
			<div class="prev-navigator navigator">
				<strong>PREV</strong>
				<a class="prev link" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
			</div>
		{% endif %}

		{% if page.next.url %}
			<div class="next-navigator navigator">
				<strong>NEXT</strong>
				<a class="next link" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
			</div>
		{% endif %}
	</div>

	<p class="tag-wrapper">
		<small class="tags">
			<span class="title">Tags </span>
			{% for tag in page.tags %}
		 		<a href="#" class="tag-item">{{tag}}</a>
			{% endfor %}
		</small>
	</p>
	
</article>